[submodule "external/cacheword"]
	path = external/cacheword
	url = https://github.com/guardianproject/cacheword.git
[submodule "external/actionbarsherlock"]
	path = external/actionbarsherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "external/numberpicker"]
	path = external/numberpicker
	url = https://github.com/SimonVT/android-numberpicker.git
